*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Poppins, sans-serif;
}

/* HEADER  */
header{
    background:white;
    height:70px;
    width:100%;
    position:fixed;
    top:0; left:0;
    padding:0 25px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    z-index:1000;
}

.logo{
    font-size:38px;
    font-weight:bold;
}
nav{
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    font-size: 21px;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}
nav a:hover {
    background: transparent;
    border: 3px solid black;
    transition: 0.3s;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 28px;
    height: 5px;
    background: black;
    margin: 5px 0;
    transition: 0.4s;
}
.menu-toggle.open div:nth-child(1) {
    transform: rotate(45deg) translate(3px, 9px);
}
.menu-toggle.open div:nth-child(2) {
    opacity: 0;
}
.menu-toggle.open div:nth-child(3) {
    transform: rotate(-45deg) translate(12px, -20px);
}
@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        padding:0;
        z-index: 999;
    }
    nav.active {
        max-height: 600px;
        padding: 20px 0;
    }
    nav a {
        display: block;
        margin: 12px 0;
        font-size: 20px;
        padding: 10px;
    }
    .menu-toggle {
        display: flex;
    }
}

/*  HOME  */
.home{
    min-height:100vh;
    padding:100px 90px;
    display:flex;
    font-size: 40px;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.home-content{
    display:flex;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
    text-align:center;
}

.profile img{
    width:300px;
    height:300px;
    border-radius:50%;
    border:4px solid black;
    object-fit:cover;
}

.home-text h1{
    font-size:2.2rem;
    color: blue;
}

.hello{
    font-size: 20px;
    color: grey;

}

.btn{
    margin-top:15px;
    padding:12px 35px;
    font-size:18px;
    border-radius:8px;
    background:white;
    border:2px solid black;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:linear-gradient(to right, blue, red);
    color:white;
}

/* ABOUT  */
.about{
    min-height:100vh;
    padding:100px 20px;
    display:flex;
    font-size: 30px;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.about-img img{
    width:350px;
    height:350px;
    border-radius:50%;
    border:4px solid black;
    object-fit:cover;
}
.para1{
    color: grey;
}

.para2{
    color: gray;
    font-size: 20px;
    font-weight: lighter;
}
.about-name{
    color: blue;
}
.about-passion{
    color: blue;
}

.intro{
    max-width:600px;
}

.tech{
    margin:15px 0;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}
.java,.html{
    height: 50px;
    width: 50px;
}

.tech div{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
}
.tech div:hover{
    background: black;
    color: white;
}

.tech img{
    width:25px;
}

/*  SKILLS */
.skills{
    text-align:center;
    font-size: 25px;
    min-height:100vh;
    padding:100px 20px;
}

.cards{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    padding:20px;
    border:2px solid black;
    border-radius:10px;
    background:white;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
    background:#f2f2c9;
}

/*  PASSION  */
.passion{
    text-align:center;
    min-height:100vh;
    padding:100px 20px;
    font-size: 25px;
}
.passion-p{
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innerbox{
    margin-top:25px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.icons{
    width:260px;
    padding:15px;
    border:2px solid black;
    border-radius:10px;
    transition:0.3s;
}

.icons:hover{
    background:black;
    color: white;
}

/* PROJECT*/
.project{
    min-height:100vh;
    padding:100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.dot1{
    list-style: none;
}

/* CONTACT  */
.contact{
    min-height:50vh;
    padding:100px 20px;
    background:#1d2b64;
    color:white;
    text-align:center;
}

.bar{
    width:120px;
    height:3px;
    background:blue;
    margin:10px auto;
}

.bar6{
    width:120px;
    height:4px;
    background:yellow;
    margin:10px auto;
}

/*  MOBILE MENU  */
@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;

        max-height: 0;
        overflow-y: auto;
        overflow-x: hidden;

        transition: max-height 0.4s ease-in-out;
        padding: 0;
        z-index: 999;
    }

    nav.active {
        max-height: 100vh; 
        padding: 20px 0;
    }

    nav a {
        display: block;
        margin: 12px 0;
        font-size: 20px;
        padding: 10px;
    }
}







